In [79]:
import pandas as pd
import numpy as np

In [3]:
# Returns top names of top numNames people from year 
def getTopNames(numNames, year):
    fileName = "Names/yob" + str(year) + ".txt"
    data = pd.read_csv(fileName, names=['Name', 'Sex', 'Frequency'])
    topNames = data.head(numNames)
    return(topNames)

getTopNames(10, 1990)

        Name Sex  Frequency
0    Jessica   F      46470
1     Ashley   F      45553
2   Brittany   F      36534
3     Amanda   F      34405
4   Samantha   F      25865
5      Sarah   F      25810
6  Stephanie   F      24859
7   Jennifer   F      22219
8  Elizabeth   F      20742
9     Lauren   F      20499

In [77]:
# Create a temporary dataframe that holds frequencies for name we are looking for
# Add that to a list and return the list (holds information for both female and male frequency)
def freqNames(name):
    tempList = []
    for i in range(1880, 2016):
        fileName = "Names/yob" + str(i) + ".txt"
        data = pd.read_csv(fileName, names=['Name', 'Sex', 'Frequency'])
        data['Year'] = i                               # Adding year column to make results easier to read
        tempDataframe = data.loc[data['Name'] == name] # Create a dataframe holding rows with a name we are looking for
        tempList.append(tempDataframe)
           
    return tempList

freqNames("Bob")

[     Name Sex  Frequency  Year
 1185  Bob   M         46  1880,      Name Sex  Frequency  Year
 1155  Bob   M         50  1881,      Name Sex  Frequency  Year
 1239  Bob   M         59  1882,      Name Sex  Frequency  Year
 1243  Bob   M         62  1883,      Name Sex  Frequency  Year
 1411  Bob   M         50  1884,      Name Sex  Frequency  Year
 1423  Bob   M         52  1885,      Name Sex  Frequency  Year
 1481  Bob   M         66  1886,      Name Sex  Frequency  Year
 1477  Bob   M         74  1887,      Name Sex  Frequency  Year
 1701  Bob   M         59  1888,      Name Sex  Frequency  Year
 1701  Bob   M         52  1889,      Name Sex  Frequency  Year
 1760  Bob   M         53  1890,      Name Sex  Frequency  Year
 1746  Bob   M         55  1891,      Name Sex  Frequency  Year
 1883  Bob   M         61  1892,      Name Sex  Frequency  Year
 1873  Bob   M         59  1893,      Name Sex  Frequency  Year
 1950  Bob   M         48  1894,      Name Sex  Frequency  Year
 2050  Bob   M         54  1895,      Name Sex  Frequency  Year
 2095  Bob   M         45  1896,      Name Sex  Frequency  Year
 2036  Bob   M         53  1897,      Name Sex  Frequency  Year
 2198  Bob   M         61  1898,      Name Sex  Frequency  Year
 2060  Bob   M         59  1899,      Name Sex  Frequency  Year
 2420  Bob   M         98  1900,      Name Sex  Frequency  Year
 2187  Bob   M         49  1901,      Name Sex  Frequency  Year
 2266  Bob   M         64  1902,      Name Sex  Frequency  Year
 2305  Bob   M         66  1903,      Name Sex  Frequency  Year
 2399  Bob   M         65  1904,      Name Sex  Frequency  Year
 2492  Bob   M         58  1905,      Name Sex  Frequency  Year
 2454  Bob   M         69  1906,      Name Sex  Frequency  Year
 2629  Bob   M         77  1907,      Name Sex  Frequency  Year
 2675  Bob   M         77  1908,      Name Sex  Frequency  Year
 2846  Bob   M         58  1909,      Name Sex  Frequency  Year
 3018  Bob   M        103  1910,      Name Sex  Frequency  Year
 3175  Bob   M         76  1911,      Name Sex  Frequency  Year
 3750  Bob   M        141  1912,      Name Sex  Frequency  Year
 3248  Bob   F          5  1913
 4020  Bob   M        164  1913,      Name Sex  Frequency  Year
 4511  Bob   M        217  1914,      Name Sex  Frequency  Year
 5259  Bob   M        296  1915,      Name Sex  Frequency  Year
 5457  Bob   M        304  1916,      Name Sex  Frequency  Year
 4152  Bob   F          6  1917
 5584  Bob   M        352  1917,      Name Sex  Frequency  Year
 4907  Bob   F          5  1918
 5831  Bob   M        477  1918,      Name Sex  Frequency  Year
 4319  Bob   F          6  1919
 5780  Bob   M        548  1919,      Name Sex  Frequency  Year
 5953  Bob   M        710  1920,      Name Sex  Frequency  Year
 3196  Bob   F         10  1921
 6047  Bob   M        798  1921,      Name Sex  Frequency  Year
 5967  Bob   M        787  1922,      Name Sex  Frequency  Year
 2943  Bob   F         11  1923
 5902  Bob   M        917  1923,      Name Sex  Frequency  Year
 4055  Bob   F          7  1924
 6040  Bob   M       1167  1924,      Name Sex  Frequency  Year
 4499  Bob   F          6  1925
 5901  Bob   M       1367  1925,      Name Sex  Frequency  Year
 3291  Bob   F          9  1926
 5723  Bob   M       1779  1926,      Name Sex  Frequency  Year
 2442  Bob   F         14  1927
 5701  Bob   M       1971  1927,      Name Sex  Frequency  Year
 2785  Bob   F         11  1928
 5530  Bob   M       2092  1928,      Name Sex  Frequency  Year
 4122  Bob   F          6  1929
 5361  Bob   M       2103  1929,      Name Sex  Frequency  Year
 2435  Bob   F         13  1930
 5336  Bob   M       2241  1930,      Name Sex  Frequency  Year
 2775  Bob   F         10  1931
 5053  Bob   M       2318  1931,      Name Sex  Frequency  Year
 2047  Bob   F         16  1932
 5178  Bob   M       2427  1932,      Name Sex  Frequency  Year
 2417  Bob   F         12  1933
 4937  Bob   M       2219  1933,      Name Sex  Frequency  Year
 3189  Bob   F          8  1934
 5047  Bob   M       2478  1934,      Name Sex  Frequency  Year
 2759  Bob   F         10  1935
 4971  Bob   M       2387  1935,      Name Sex  Frequency  Year
 3132  Bob   F          8  1936
 4932  Bob   M       2409  1936,      Name Sex  Frequency  Year
 2206  Bob   F         14  1937
 5007  Bob   M       2363  1937,      Name Sex  Frequency  Year
 3482  Bob   F          7  1938
 5087  Bob   M       2204  1938,      Name Sex  Frequency  Year
 3166  Bob   F          8  1939
 5040  Bob   M       2242  1939,      Name Sex  Frequency  Year
 4431  Bob   F          5  1940
 5123  Bob   M       2082  1940,      Name Sex  Frequency  Year
 3603  Bob   F          7  1941
 5188  Bob   M       2074  1941,      Name Sex  Frequency  Year
 3781  Bob   F          7  1942
 5489  Bob   M       2203  1942,      Name Sex  Frequency  Year
 3525  Bob   F          8  1943
 5475  Bob   M       2274  1943,      Name Sex  Frequency  Year
 4111  Bob   F          6  1944
 5352  Bob   M       2133  1944,      Name Sex  Frequency  Year
 4620  Bob   F          5  1945
 5349  Bob   M       2175  1945,      Name Sex  Frequency  Year
 5792  Bob   M       2492  1946,      Name Sex  Frequency  Year
 5378  Bob   F          5  1947
 6217  Bob   M       2514  1947,      Name Sex  Frequency  Year
 5310  Bob   F          5  1948
 6178  Bob   M       1960  1948,      Name Sex  Frequency  Year
 4724  Bob   F          6  1949
 6224  Bob   M       1465  1949,      Name Sex  Frequency  Year
 6316  Bob   M        978  1950,      Name Sex  Frequency  Year
 6449  Bob   M        806  1951,      Name Sex  Frequency  Year
 6638  Bob   M        756  1952,      Name Sex  Frequency  Year
 5742  Bob   F          5  1953
 6756  Bob   M        695  1953,      Name Sex  Frequency  Year
 5823  Bob   F          5  1954
 6876  Bob   M        696  1954,      Name Sex  Frequency  Year
 5271  Bob   F          6  1955
 6970  Bob   M        796  1955,      Name Sex  Frequency  Year
 7116  Bob   M       1020  1956,      Name Sex  Frequency  Year
 5432  Bob   F          6  1957
 7182  Bob   M       1813  1957,      Name Sex  Frequency  Year
 7159  Bob   M       2522  1958,      Name Sex  Frequency  Year
 4667  Bob   F          8  1959
 7323  Bob   M       2824  1959,      Name Sex  Frequency  Year
 7464  Bob   M       2720  1960,      Name Sex  Frequency  Year
 6649  Bob   F          5  1961
 7668  Bob   M       2501  1961,      Name Sex  Frequency  Year
 6662  Bob   F          5  1962
 7733  Bob   M       2166  1962,      Name Sex  Frequency  Year
 5938  Bob   F          6  1963
 7825  Bob   M       1846  1963,      Name Sex  Frequency  Year
 7998  Bob   M       1433  1964,      Name Sex  Frequency  Year
 7763  Bob   M       1000  1965,      Name Sex  Frequency  Year
 6650  Bob   F          5  1966
 7892  Bob   M        684  1966,      Name Sex  Frequency  Year
 4326  Bob   F         10  1967
 8174  Bob   M        532  1967,      Name Sex  Frequency  Year
 8546  Bob   M        478  1968,      Name Sex  Frequency  Year
 9084  Bob   M        426  1969,      Name Sex  Frequency  Year
 8097  Bob   F          5  1970
 9748  Bob   M        405  1970,       Name Sex  Frequency  Year
 10083  Bob   M        325  1971,       Name Sex  Frequency  Year
 10196  Bob   M        220  1972,       Name Sex  Frequency  Year
 10340  Bob   M        208  1973,       Name Sex  Frequency  Year
 10857  Bob   M        170  1974,       Name Sex  Frequency  Year
 11227  Bob   M        168  1975,       Name Sex  Frequency  Year
 11608  Bob   M        139  1976,       Name Sex  Frequency  Year
 12100  Bob   M        120  1977,       Name Sex  Frequency  Year
 12276  Bob   M        110  1978,       Name Sex  Frequency  Year
 12759  Bob   M        118  1979,       Name Sex  Frequency  Year
 13008  Bob   M        107  1980,       Name Sex  Frequency  Year
 13171  Bob   M         84  1981,       Name Sex  Frequency  Year
 13261  Bob   M         91  1982,       Name Sex  Frequency  Year
 12998  Bob   M         89  1983,       Name Sex  Frequency  Year
 13188  Bob   M         76  1984,       Name Sex  Frequency  Year
 13580  Bob   M         73  1985,       Name Sex  Frequency  Year
 14035  Bob   M         62  1986,       Name Sex  Frequency  Year
 14565  Bob   M         56  1987,       Name Sex  Frequency  Year
 15248  Bob   M         57  1988,       Name Sex  Frequency  Year
 16019  Bob   M         56  1989,       Name Sex  Frequency  Year
 16798  Bob   M         53  1990,       Name Sex  Frequency  Year
 16854  Bob   M         66  1991,       Name Sex  Frequency  Year
 17526  Bob   M         42  1992,       Name Sex  Frequency  Year
 17889  Bob   M         38  1993,       Name Sex  Frequency  Year
 17934  Bob   M         37  1994,       Name Sex  Frequency  Year
 18265  Bob   M         30  1995,       Name Sex  Frequency  Year
 18374  Bob   M         31  1996,       Name Sex  Frequency  Year
 18611  Bob   M         33  1997,       Name Sex  Frequency  Year
 20095  Bob   M         21  1998,       Name Sex  Frequency  Year
 21300  Bob   M         16  1999,       Name Sex  Frequency  Year
 20519  Bob   M         31  2000,       Name Sex  Frequency  Year
 22103  Bob   M         19  2001,       Name Sex  Frequency  Year
 22598  Bob   M         17  2002,       Name Sex  Frequency  Year
 25728  Bob   M          9  2003,       Name Sex  Frequency  Year
 23257  Bob   M         19  2004,       Name Sex  Frequency  Year
 23001  Bob   M         24  2005,       Name Sex  Frequency  Year
 27004  Bob   M         11  2006,       Name Sex  Frequency  Year
 29565  Bob   M          8  2007,       Name Sex  Frequency  Year
 24714  Bob   M         23  2008,       Name Sex  Frequency  Year
 24604  Bob   M         22  2009,       Name Sex  Frequency  Year
 27439  Bob   M         10  2010,       Name Sex  Frequency  Year
 25522  Bob   M         14  2011,       Name Sex  Frequency  Year
 28431  Bob   M          8  2012,       Name Sex  Frequency  Year
 23999  Bob   M         19  2013,       Name Sex  Frequency  Year
 29990  Bob   M          6  2014,       Name Sex  Frequency  Year
 24996  Bob   M         14  2015]

In [107]:
# Create a temporary dataframe that holds relative frequencies for name we are looking for
# Add that to a list and return the list (holds information for both female and male relative frequency)


def relativeFreqNames(name):
    tempList = []
    for i in range(1880, 2016):
        fileName = "Names/yob" + str(i) + ".txt"
        data = pd.read_csv(fileName, names=['Name', 'Sex', 'Frequency'])
        sumPerYear = data['Frequency'].sum()           # Get total sum of names for the year to use for relative frequency
        data['Year'] = i                               # Adding year column to make results easier to read
        data['Frequency'] = data['Frequency'].divide(sumPerYear, fill_value=1)
        tempDataframe = data.loc[data['Name'] == name] # Create a dataframe holding rows with a name we are looking for
        tempList.append(tempDataframe)
           
    return tempList

relativeFreqNames("Bob")

[     Name Sex  Frequency  Year
 1185  Bob   M   0.000228  1880,      Name Sex  Frequency  Year
 1155  Bob   M   0.000259  1881,      Name Sex  Frequency  Year
 1239  Bob   M   0.000266  1882,      Name Sex  Frequency  Year
 1243  Bob   M   0.000286  1883,      Name Sex  Frequency  Year
 1411  Bob   M   0.000205  1884,      Name Sex  Frequency  Year
 1423  Bob   M   0.000216  1885,      Name Sex  Frequency  Year
 1481  Bob   M   0.000259  1886,      Name Sex  Frequency  Year
 1477  Bob   M   0.000299  1887,      Name Sex  Frequency  Year
 1701  Bob   M   0.000197  1888,      Name Sex  Frequency  Year
 1701  Bob   M    0.00018  1889,      Name Sex  Frequency  Year
 1760  Bob   M   0.000176  1890,      Name Sex  Frequency  Year
 1746  Bob   M   0.000192  1891,      Name Sex  Frequency  Year
 1883  Bob   M   0.000182  1892,      Name Sex  Frequency  Year
 1873  Bob   M   0.000181  1893,      Name Sex  Frequency  Year
 1950  Bob   M   0.000142  1894,      Name Sex  Frequency  Year
 2050  Bob   M   0.000154  1895,      Name Sex  Frequency  Year
 2095  Bob   M   0.000126  1896,      Name Sex  Frequency  Year
 2036  Bob   M   0.000153  1897,      Name Sex  Frequency  Year
 2198  Bob   M    0.00016  1898,      Name Sex  Frequency  Year
 2060  Bob   M   0.000174  1899,      Name Sex  Frequency  Year
 2420  Bob   M   0.000218  1900,      Name Sex  Frequency  Year
 2187  Bob   M   0.000142  1901,      Name Sex  Frequency  Year
 2266  Bob   M   0.000165  1902,      Name Sex  Frequency  Year
 2305  Bob   M   0.000173  1903,      Name Sex  Frequency  Year
 2399  Bob   M   0.000161  1904,      Name Sex  Frequency  Year
 2492  Bob   M   0.000137  1905,      Name Sex  Frequency  Year
 2454  Bob   M   0.000161  1906,      Name Sex  Frequency  Year
 2629  Bob   M   0.000165  1907,      Name Sex  Frequency  Year
 2675  Bob   M   0.000158  1908,      Name Sex  Frequency  Year
 2846  Bob   M   0.000113  1909,      Name Sex  Frequency  Year
 3018  Bob   M   0.000174  1910,      Name Sex  Frequency  Year
 3175  Bob   M   0.000118  1911,      Name Sex  Frequency  Year
 3750  Bob   M   0.000143  1912,      Name Sex  Frequency  Year
 3248  Bob   F   0.000004  1913
 4020  Bob   M   0.000144  1913,      Name Sex  Frequency  Year
 4511  Bob   M   0.000153  1914,      Name Sex  Frequency  Year
 5259  Bob   M   0.000162  1915,      Name Sex  Frequency  Year
 5457  Bob   M   0.000157  1916,      Name Sex  Frequency  Year
 4152  Bob   F   0.000003  1917
 5584  Bob   M   0.000175  1917,      Name Sex  Frequency  Year
 4907  Bob   F   0.000002  1918
 5831  Bob   M   0.000220  1918,      Name Sex  Frequency  Year
 4319  Bob   F   0.000003  1919
 5780  Bob   M   0.000260  1919,      Name Sex  Frequency  Year
 5953  Bob   M   0.000314  1920,      Name Sex  Frequency  Year
 3196  Bob   F   0.000004  1921
 6047  Bob   M   0.000342  1921,      Name Sex  Frequency  Year
 5967  Bob   M   0.000344  1922,      Name Sex  Frequency  Year
 2943  Bob   F   0.000005  1923
 5902  Bob   M   0.000398  1923,      Name Sex  Frequency  Year
 4055  Bob   F   0.000003  1924
 6040  Bob   M   0.000490  1924,      Name Sex  Frequency  Year
 4499  Bob   F   0.000003  1925
 5901  Bob   M   0.000586  1925,      Name Sex  Frequency  Year
 3291  Bob   F   0.000004  1926
 5723  Bob   M   0.000775  1926,      Name Sex  Frequency  Year
 2442  Bob   F   0.000006  1927
 5701  Bob   M   0.000850  1927,      Name Sex  Frequency  Year
 2785  Bob   F   0.000005  1928
 5530  Bob   M   0.000925  1928,      Name Sex  Frequency  Year
 4122  Bob   F   0.000003  1929
 5361  Bob   M   0.000959  1929,      Name Sex  Frequency  Year
 2435  Bob   F   0.000006  1930
 5336  Bob   M   0.001008  1930,      Name Sex  Frequency  Year
 2775  Bob   F   0.000005  1931
 5053  Bob   M   0.001102  1931,      Name Sex  Frequency  Year
 2047  Bob   F   0.000008  1932
 5178  Bob   M   0.001150  1932,      Name Sex  Frequency  Year
 2417  Bob   F   0.000006  1933
 4937  Bob   M   0.001110  1933,      Name Sex  Frequency  Year
 3189  Bob   F   0.000004  1934
 5047  Bob   M   0.001193  1934,      Name Sex  Frequency  Year
 2759  Bob   F   0.000005  1935
 4971  Bob   M   0.001142  1935,      Name Sex  Frequency  Year
 3132  Bob   F   0.000004  1936
 4932  Bob   M   0.001160  1936,      Name Sex  Frequency  Year
 2206  Bob   F   0.000007  1937
 5007  Bob   M   0.001109  1937,      Name Sex  Frequency  Year
 3482  Bob   F   0.000003  1938
 5087  Bob   M   0.000996  1938,      Name Sex  Frequency  Year
 3166  Bob   F   0.000004  1939
 5040  Bob   M   0.001018  1939,      Name Sex  Frequency  Year
 4431  Bob   F   0.000002  1940
 5123  Bob   M   0.000904  1940,      Name Sex  Frequency  Year
 3603  Bob   F   0.000003  1941
 5188  Bob   M   0.000851  1941,      Name Sex  Frequency  Year
 3781  Bob   F   0.000003  1942
 5489  Bob   M   0.000807  1942,      Name Sex  Frequency  Year
 3525  Bob   F   0.000003  1943
 5475  Bob   M   0.000806  1943,      Name Sex  Frequency  Year
 4111  Bob   F   0.000002  1944
 5352  Bob   M   0.000793  1944,      Name Sex  Frequency  Year
 4620  Bob   F   0.000002  1945
 5349  Bob   M   0.000820  1945,      Name Sex  Frequency  Year
 5792  Bob   M    0.00078  1946,      Name Sex  Frequency  Year
 5378  Bob   F   0.000001  1947
 6217  Bob   M   0.000698  1947,      Name Sex  Frequency  Year
 5310  Bob   F   0.000001  1948
 6178  Bob   M   0.000568  1948,      Name Sex  Frequency  Year
 4724  Bob   F   0.000002  1949
 6224  Bob   M   0.000420  1949,      Name Sex  Frequency  Year
 6316  Bob   M   0.000279  1950,      Name Sex  Frequency  Year
 6449  Bob   M   0.000219  1951,      Name Sex  Frequency  Year
 6638  Bob   M   0.000199  1952,      Name Sex  Frequency  Year
 5742  Bob   F   0.000001  1953
 6756  Bob   M   0.000180  1953,      Name Sex  Frequency  Year
 5823  Bob   F   0.000001  1954
 6876  Bob   M   0.000175  1954,      Name Sex  Frequency  Year
 5271  Bob   F   0.000001  1955
 6970  Bob   M   0.000198  1955,      Name Sex  Frequency  Year
 7116  Bob   M   0.000247  1956,      Name Sex  Frequency  Year
 5432  Bob   F   0.000001  1957
 7182  Bob   M   0.000432  1957,      Name Sex  Frequency  Year
 7159  Bob   M    0.00061  1958,      Name Sex  Frequency  Year
 4667  Bob   F   0.000002  1959
 7323  Bob   M   0.000679  1959,      Name Sex  Frequency  Year
 7464  Bob   M   0.000655  1960,      Name Sex  Frequency  Year
 6649  Bob   F   0.000001  1961
 7668  Bob   M   0.000604  1961,      Name Sex  Frequency  Year
 6662  Bob   F   0.000001  1962
 7733  Bob   M   0.000537  1962,      Name Sex  Frequency  Year
 5938  Bob   F   0.000002  1963
 7825  Bob   M   0.000466  1963,      Name Sex  Frequency  Year
 7998  Bob   M   0.000369  1964,      Name Sex  Frequency  Year
 7763  Bob   M   0.000276  1965,      Name Sex  Frequency  Year
 6650  Bob   F   0.000001  1966
 7892  Bob   M   0.000197  1966,      Name Sex  Frequency  Year
 4326  Bob   F   0.000003  1967
 8174  Bob   M   0.000157  1967,      Name Sex  Frequency  Year
 8546  Bob   M   0.000141  1968,      Name Sex  Frequency  Year
 9084  Bob   M   0.000123  1969,      Name Sex  Frequency  Year
 8097  Bob   F   0.000001  1970
 9748  Bob   M   0.000112  1970,       Name Sex  Frequency  Year
 10083  Bob   M   0.000095  1971,       Name Sex  Frequency  Year
 10196  Bob   M    0.00007  1972,       Name Sex  Frequency  Year
 10340  Bob   M   0.000069  1973,       Name Sex  Frequency  Year
 10857  Bob   M   0.000056  1974,       Name Sex  Frequency  Year
 11227  Bob   M   0.000056  1975,       Name Sex  Frequency  Year
 11608  Bob   M   0.000046  1976,       Name Sex  Frequency  Year
 12100  Bob   M   0.000038  1977,       Name Sex  Frequency  Year
 12276  Bob   M   0.000035  1978,       Name Sex  Frequency  Year
 12759  Bob   M   0.000035  1979,       Name Sex  Frequency  Year
 13008  Bob   M   0.000031  1980,       Name Sex  Frequency  Year
 13171  Bob   M   0.000024  1981,       Name Sex  Frequency  Year
 13261  Bob   M   0.000026  1982,       Name Sex  Frequency  Year
 12998  Bob   M   0.000026  1983,       Name Sex  Frequency  Year
 13188  Bob   M   0.000022  1984,       Name Sex  Frequency  Year
 13580  Bob   M    0.00002  1985,       Name Sex  Frequency  Year
 14035  Bob   M   0.000017  1986,       Name Sex  Frequency  Year
 14565  Bob   M   0.000016  1987,       Name Sex  Frequency  Year
 15248  Bob   M   0.000015  1988,       Name Sex  Frequency  Year
 16019  Bob   M   0.000015  1989,       Name Sex  Frequency  Year
 16798  Bob   M   0.000013  1990,       Name Sex  Frequency  Year
 16854  Bob   M   0.000017  1991,       Name Sex  Frequency  Year
 17526  Bob   M   0.000011  1992,       Name Sex  Frequency  Year
 17889  Bob   M    0.00001  1993,       Name Sex  Frequency  Year
 17934  Bob   M    0.00001  1994,       Name Sex  Frequency  Year
 18265  Bob   M   0.000008  1995,       Name Sex  Frequency  Year
 18374  Bob   M   0.000009  1996,       Name Sex  Frequency  Year
 18611  Bob   M   0.000009  1997,       Name Sex  Frequency  Year
 20095  Bob   M   0.000006  1998,       Name Sex  Frequency  Year
 21300  Bob   M   0.000004  1999,       Name Sex  Frequency  Year
 20519  Bob   M   0.000008  2000,       Name Sex  Frequency  Year
 22103  Bob   M   0.000005  2001,       Name Sex  Frequency  Year
 22598  Bob   M   0.000005  2002,       Name Sex  Frequency  Year
 25728  Bob   M   0.000002  2003,       Name Sex  Frequency  Year
 23257  Bob   M   0.000005  2004,       Name Sex  Frequency  Year
 23001  Bob   M   0.000006  2005,       Name Sex  Frequency  Year
 27004  Bob   M   0.000003  2006,       Name Sex  Frequency  Year
 29565  Bob   M   0.000002  2007,       Name Sex  Frequency  Year
 24714  Bob   M   0.000006  2008,       Name Sex  Frequency  Year
 24604  Bob   M   0.000006  2009,       Name Sex  Frequency  Year
 27439  Bob   M   0.000003  2010,       Name Sex  Frequency  Year
 25522  Bob   M   0.000004  2011,       Name Sex  Frequency  Year
 28431  Bob   M   0.000002  2012,       Name Sex  Frequency  Year
 23999  Bob   M   0.000005  2013,       Name Sex  Frequency  Year
 29990  Bob   M   0.000002  2014,       Name Sex  Frequency  Year
 24996  Bob   M   0.000004  2015]

In [25]:
males = {}
females = {}

# Iterate through each file and create a temporary dataframe to hold names that are male and female
# Then go through the rows of each dataframe and store the name and relative frequency into males/females dictionaries
for i in range(1880, 2016):    
    fileName = "Names/yob" + str(i) + ".txt"
    data = pd.read_csv(fileName, names=['Name', 'Sex', 'Frequency'])
    temp = data[data.duplicated('Name', keep=False) == True] # Each temporary dataframe holds names that are 
                                                             # both female and male for each year
    
    # For each year calculate the sum and use that sum to calculate relative
    # frequency of each name each year
    sum = temp['Frequency'].sum()
    
    # Iterate through each name and store relative frequency in corresponding 
    # dictionary for each year
    print(i)
    for row in temp.itertuples():
        if(row[2] == 'M'):
           # tempDict = {i:row[3] / sum}
            tempDict = {i:row[3]}
            if(row[1] in males):
                males[row[1]].update(tempDict)
            else:
                males[row[1]] = tempDict
        else:
            #tempDict = {i:row[3] / sum}
            tempDict = {i:row[3]}
            if(row[1] in females):
                females[row[1]].update(tempDict)
            else:
                females[row[1]] = tempDict

print(males["Andrew"])
print(females["Bob"])

1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
{1881: 588, 1886: 614, 1898: 611, 1910: 884, 1911: 1098, 1912: 1946, 1913: 2222, 1914: 2965, 1915: 3573, 1916: 3723, 1917: 3751, 1918: 4139, 1919: 3851, 1920: 4026, 1921: 4015, 1922: 3804, 1923: 3747, 1924: 3746, 1925: 3615, 1926: 3345, 1927: 3437, 1928: 3142, 1929: 3078, 1930: 3058, 1931: 2713, 1932: 2646, 1933: 2345, 1934: 2445, 1935: 2289, 1936: 2278, 1937: 2405, 1938: 2407, 1939: 2441, 1940: 2430, 1941: 2709, 1942: 3144, 1943: 3350, 1944: 3054, 1945: 3008, 1946: 3759, 1947: 4340, 1948: 4308, 1949: 4518, 1950: 4936, 1951: 5375, 1952: 5579, 1953: 5618, 1954: 5651, 1955: 6010, 1956: 6593, 1957: 6996, 1958: 7102, 1959: 7105, 1960: 8212, 1961: 8484, 1962: 8710, 1963: 9525, 1964: 10501, 1965: 9687, 1966: 10241, 1967: 9975, 1968: 10566, 1969: 11298, 1970: 12000, 1971: 10926, 1972: 10130, 1973: 10739, 1974: 11787, 1975: 12776, 1976: 13323, 1977: 16039, 1978: 16743, 1979: 18633, 1980: 19726, 1981: 20226, 1982: 22833, 1983: 25570, 1984: 25910, 1985: 30160, 1986: 33853, 1987: 36199, 1988: 35727, 1989: 34809, 1990: 33653, 1991: 31525, 1992: 30534, 1993: 27314, 1994: 26006, 1995: 25843, 1996: 25231, 1997: 25191, 1998: 23648, 1999: 23850, 2000: 23633, 2001: 22405, 2002: 22016, 2003: 22146, 2004: 21697, 2005: 20722, 2006: 19707, 2007: 18441, 2008: 16747, 2009: 14849, 2010: 14227, 2011: 13262, 2012: 12599, 2013: 11638, 2014: 11124, 2015: 10027}
{1913: 5, 1917: 6, 1918: 5, 1919: 6, 1921: 10, 1923: 11, 1924: 7, 1925: 6, 1926: 9, 1927: 14, 1928: 11, 1929: 6, 1930: 13, 1931: 10, 1932: 16, 1933: 12, 1934: 8, 1935: 10, 1936: 8, 1937: 14, 1938: 7, 1939: 8, 1940: 5, 1941: 7, 1942: 7, 1943: 8, 1944: 6, 1945: 5, 1947: 5, 1948: 5, 1949: 6, 1953: 5, 1954: 5, 1955: 6, 1957: 6, 1959: 8, 1961: 5, 1962: 5, 1963: 6, 1966: 5, 1967: 10, 1970: 5}